.custom_events_ipc_wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}
.custom_events_ipc_wrapper .ow_nocontent {
    width: 100%;
}
.custom_events_ipc_item {
    flex: 1 1 calc(33% - 16px);
    max-width: calc(33% - 8px);
}
.custom_events_ipc_item_picture {
    display: block;
    text-decoration: none;
    overflow: hidden;
    height: calc(33% + 20%);
    margin-bottom: 10px;
}
.custom_events_ipc_item_picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.custom_events_ipc_item_info {

}
.custom_events_ipc_item_info_title {
    margin-bottom: 4px;
}
.custom_events_ipc_item_info_desc {
    margin-bottom: 4px;
}
.custom_events_ipc_item_info_cost_wrapper {
    display: flex;
    gap: 6px;
    margin: 2px 0;
}
.custom_events_ipc_item_info_price {
    opacity: 0.9;
}
.custom_events_ipc_item_info_old_price {
    opacity: 0.6;
}
.custom_events_ipc_item_info_free {
    opacity: 0.6;
}
.custom_events_ipc_form {
    margin-bottom: 40px;
}
.custom_events_ipc_form h3 {
    text-transform: uppercase;
}
.custom_events_ipc_form_input {
    margin: 16px 0 10px;
}
.custom_events_ipc_form_input_submit {

}
.custom_events_ipc_form_input_submit input[type=submit],
.custom_events_ipc_form_input_submit input[type=button] {
    background-image: none !important;
    padding: 1px 1px 2px 0;
    color: #d6d6be;
    height: 24px;
    text-transform: none;
    font-size: 12px;
    font-family: "Tahoma","Arial","Lucida Grande";
    font-weight: 100;
}
.custom_events_ipc_form_input_submit span.ow_button {
    background-position: center;
}
.custom_events_ipc_form_input_check_wrapper {
    margin-top: 14px;
}
.custom_events_ipc_form_input_check_item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.custom_events_ipc_form_input_check_item input {
    margin: 0 10px 0 0;
}
.custom_events_ipc_form_input_check_item label {
    opacity: 0.8;
}
.custom_events_ipc_paging {
    width: 100%;
    margin-top: 20px;
}
@media screen and (max-width: 480px) {
    .ow_event_list_wrapper {
        flex-direction: column;
    }
    .custom_events_ipc_wrapper {
        width: 100% !important;
    }
    .custom_events_ipc_item {
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 8px);
    }
}
